.projetos {
  background-color: #F9F7F2;
  margin-top: 530px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.projetos-projeto {
  margin-top: 530px;
}


.projetos .projetos-container {
  padding-left: 100px;
  padding-top: 20px;
}

.project {
  padding: 80px 0;
  position: relative;
  background-color: #F9F7F2;
  max-height: 3100px;
}

.project h2 {
  font-family: 'Bebas Neue';
  letter-spacing: 0.2em;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #B8B8B8;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 70%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #7B6653;
  width: 100%;
  font-size: 11px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #c79081 -5.91%, #dfa579 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(209, 197, 177, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(209, 197, 177, 1);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(209, 197, 177, 1);
  border-bottom: 1px solid rgba(209, 197, 177, 1);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(209, 197, 177, 1);
  border-radius: 0 55px 55px 0;
}




@media (min-width: 575px) {

  .project .nav.nav-pills .nav-link {
    font-size: 17px;
  }

}


@media (min-width: 1365px) {

  .projetos {
    margin-top: 520px;
  }

  .project p {
    font-size: 18px;
  }
}
