.home-img:before {
  content: '';
  background: url('../../assets/img/arquiteta-home.jpg') no-repeat center center/cover;
  height: 967px;
  width: 1696px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-img {
  margin-top: 80px;
}

.home-img .home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  padding: 1rem;

}

.home-text h4 {
  font-size: 17.3px;
}

.home-text {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 15px;
  color: #907760;
}

.home-text span {

  background-color: #E3D7BF;
}

.home-context {
  margin-top: 40px;
  margin-left: 30px;
  padding: 7px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 13px;
  height: 110px;
  background-color: rgba(171, 140, 109, .7);
  color: #F8F7F2;
}

.home-context img {
  width: 15px;
  height: 15px;
}

.home-context h1 {
  font-size: 14.2px;
  font-weight: 400;
}

@media (min-width: 350px) {
  .home-text h4 {
    font-size: 19.3px;
  }

  .home-context {
    height: 120px;

  }

}

@media (min-width: 390px) {
  .home-text h4 {
    font-size: 22px;
  }

  .home-context {
    height: 100px;

  }

}

@media (min-width: 471px) {
  .home-text h4 {
    font-size: 30px;
  }

  .home-context h1 {
    font-size: 16px;

  }

}

@media (min-width: 560px) {
  .home-text h4 {
    font-size: 33px;
  }

}


@media (min-width: 575px) {
  .home-text h4 {
    margin-left: 110px;
    font-size: 27.3px;

  }

  .home-context {
    margin-left: 200px;
    font-size: 15px;
    height: 140px;
  }



}

@media (min-width: 650px) {

  .home-text h4 {
    margin-left: 185px;


  }

  .home-context {
    margin-left: 290px;
    font-size: 14px;
  }
}

@media (min-width: 750px) {

  .home-text h4 {
    margin-left: 270px;


  }

  .home-context {
    margin-left: 320px;
    font-size: 15px;
  }
}

@media (min-width: 900px) {

  .home-text h4 {
    margin-left: 410px;


  }

  .home-context {
    margin-left: 500px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {

  .home-text h4 {
    margin-left: 550px;

  }

  .home-context {
    margin-left: 620px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {

  .home-text h4 {
    margin-left: 700px;

  }

  .home-context {
    margin-left: 780px;
    font-size: 15px;
  }
}




@media (min-width: 1280px) {

  .home-text h4 {
    margin-left: 780px;

  }

  .home-context {
    margin-left: 830px;
    font-size: 15px;
  }
}



@media (min-width: 1366px) {

  .home-img:before {
    background: url('../../assets/img/arquiteta-home-pequena.jpg') no-repeat center;
    height: 100%;
    width: 100%;
    position: absolute;

  }
}
