.bg-primaryy {
  min-height: 80px;
  padding-left: 10px;
  background-color: #F9F7F2;
  border-bottom: 1px solid #e1e1e1;
}

.navbar-img {
  display: none;
  margin-left: 100px;
  height: 70px;
}

.navbar-img img {
  padding-top: 7px;
  height: 90%;
}

.navbar-logo h4 {
  font-size: 18px;
  font-family: 'OrganettoB';
  letter-spacing: 0.1em;
}

.navbar-logo span {
  padding-left: 45px;
  font-size: 10px;
  font-family: 'DraftBR';
  letter-spacing: 0.1em;
}

.main-menu {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  width: 500px;
  justify-content: space-between;
}

.main-menu a:hover {
  color: #C1AA93;
}

.main-menu a.active {
  color: #C1AA93;
}



@media (min-width: 575px) {

  .main-menu {
    padding-left: 30px;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    width: 300px;
    justify-content: space-between;
  }

  .bg-primaryy {
    padding-left: 40px;
  }

  .navbar-logo h4 {
    font-size: 19px;
  }

  .navbar-logo span {
    font-size: 10px;
    padding-left: 30px;
  }
}

@media (min-width: 650px) {

  .main-menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    width: 380px;

  }

  .bg-primaryy {
    padding-left: 40px;
  }

  .navbar-logo h4 {
    font-size: 19px;
  }

  .navbar-logo span {
    font-size: 10px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {

  .main-menu {
    display: flex;
    padding-left: 0;
    font-size: 18px;
    font-weight: 700;
    width: 500px;
    justify-content: space-between;
  }


  .bg-primaryy {
    padding-left: 40px;
  }

  .navbar-logo h4 {
    font-size: 19px;
  }

  .navbar-logo span {
    font-size: 10px;
    padding-left: 30px;
  }
}

@media (min-width: 1000px) {
  .navbar-img {
    display: unset;
  }

  .navbar-logo h4 {
    font-size: 25px;
  }

  .navbar-logo span {
    font-size: 13px;
    padding-left: 50px;
  }


}
