.contact {
  padding: 45px 0;
  overflow: hidden;
  background: linear-gradient(90.21deg, #c79081 -5.91%, #dfa579 111.58%);
  display: flex;
  align-items: center;
  flex-direction: column;

}

.contact-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 0px;
}


.contact-title {
  text-align: center;
}

.contact-title h2 {
  font-size: 50px;
  color: white;
}

.contact-title h2::after {
  background: white;
}


.contact-title p {
  color: white;
  font-size: 18px;
  font-weight: 700;
}


.contact-faq-list ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.contact-faq-list li {
  padding: 21px;
  background: #F9F7F2;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}

.contact-faq-list li>div {

  transition: all 0.3s ease-in-out;

}

.contact-faq-list li:first-child {

  margin-top: 0 !important;
}

.contact-faq-icon {
  position: absolute;
  right: 0;
  left: 20px;
}

.contact-faq-question {
  color: #917862;
  ;
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 30px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.contact-faq-arrow {
  position: absolute;
  right: 0;
  top: 0;
}

.contact-faq-content {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: #917862;
  font-size: 15px;
  text-align: justify;
}

@media (min-width: 768px) {
  .contact-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contact-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    width: 1170px;
  }

  .contact {
    flex-direction: row;

  }


  .contact-faq-list {
    padding: 0;
  }

}
