.reforma1 {
  background-image: linear-gradient(135deg, #FCFAF8 30%, #ECE9E6 250%);
}

.reforma2 h1 {
  background-color: rgba(217, 210, 206, 0.9);
}

.reforma3 h6 {
  background-color: rgba(217, 210, 206, 0.9);
}

.reforma4 {
  background-color: rgba(217, 210, 206, 0.9);
}
