.process {

  background: url('../../assets/img/img-process.fw.png') no-repeat center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3915px;
}

.process-text {
  padding-top: 20px;
  padding-left: 10px;
}

.process-text h4 {
  font-family: 'Bebas Neue';
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
}




.roww {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;


}


@media (min-width: 385px) {
  .process {
    margin-top: 3820px;
  }
}

@media (min-width: 397px) {
  .process {
    margin-top: 3760px;
  }
}


@media (min-width: 500px) {
  .process {
    margin-top: 3700px;
  }
}

@media (min-width: 528px) {
  .process-text h4 {

    font-size: 25px;
  }
}

@media (min-width: 576px) {
  .process {
    margin-top: 2650px;
  }
}

@media (min-width: 720px) {
  .process-text h4 {

    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .process {
    margin-top: 2150px;
  }
}

@media (min-width: 820px) {
  .process-text h4 {

    font-size: 40px;
  }

  .process-text {
    padding-top: 70px;

  }

  .roww {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 80px;
    background-color: rgba(249, 247, 242, .5);
  }
}

@media (min-width: 1160px) {
  .process-text h4 {

    font-size: 50px;
  }

}

@media (min-width: 1240px) {
  .process-text h4 {

    font-size: 55px;
  }

  .roww {

    padding: 15px 80px;
    margin-top: 80px;
  }

}

@media (min-width: 1370px) {
  .process-text h4 {

    font-size: 60px;
  }

  .roww {

    padding: 15px 130px;
    margin-top: 80px;
  }

}

@media (min-width: 1500px) {
  .process-text h4 {

    font-size: 60px;
  }

  .roww {

    padding: 15px 200px;

  }

}

@media (min-width: 1500px) {

  .process-text {
    padding: 50px 50px 0px 150px;

  }

  .roww {

    padding: 15px 250px;

  }

}


@media (min-width: 1710px) {


  .roww {

    padding: 15px 300px;

  }

}


@media (min-width: 1821px) {
  .process-text {
    padding: 50px 100px 0px 200px;

  }

  .roww {

    padding: 15px 400px;

  }

}

@media (min-width: 1976px) {
  .process-text {
    padding: 50px 200px 0px 300px;

  }

  .roww {

    padding: 15px 500px;

  }

}

@media (min-width: 1976px) {
  .process-text {
    padding: 50px 300px 0px 400px;

  }

  .roww {

    padding: 15px 650px;

  }

}


@media (min-width: 2100px) {
  .process-text {
    padding: 50px 400px 0px 500px;

  }

  .roww {

    padding: 15px 700px;

  }

}
