.processCard {
  margin-bottom: 0px;

}


.processCard-img {
  text-align: center;
  padding: 2px 0;

}

.processCard-img img {
  width: 28px;
}


.processCard-text {
  text-align: center;
  background-color: rgba(249, 247, 242, .5);
}


.processCard-text span {
  font-size: 14px;
}


@media (min-width: 720px) {
  .processCard-text span {
    font-size: 14px;
  }

  .processCard-img img {
    width: 25px;
  }
}

@media (min-width: 820px) {

  .processCard-text span {
    font-size: 20px;
  }

  .processCard-img img {
    width: 40px;
  }

  .processCard-text {

    border-bottom: 1px solid #C6B69F;
  }

  .processCard-text {

    background-color: unset;
  }


}
